<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<h1>Agregar Nuevo Estudiante</h1>
<form  action="#" th:action="@{/formEstudiante}" th:object="${estudiante}" method="post">

	<label>Nombre:</label>
	<input type="text" th:field="${estudiante.nombre}"> <br>
	<span th:errors="*{nombre}" style= color:#E81505></span><br>

	<label>Apellido:</label> 
	<input type="text" th:field="${estudiante.apellido}"> <br>
	<span th:errors="*{apellido}" style= color:#E81505></span><br>

	<label>Carne:</label> 
	<input type="text" class="form-control" th:field="${estudiante.carne}"> <br>
	<span th:errors="*{carne}" style= color:#E81505></span><br>

	<label>Carrera:</label> 
	<input type="text" th:field="${estudiante.carrera}"> <br>
	<span th:errors="*{carrera}" style= color:#E81505></span><br>

	<input type="submit" value="Agregar Estudiante"> 
	<a th:href="@{/listado}">Listado de Estudiantes</a>
</form>
</body>
</html>